body {
  background-color: #e3eaf4;
  font-family: 'Russo One', sans-serif;
  color: #7a7574;
}

.container {
  margin-top: 20%;
}

.result {
  margin-top: 40px;
}

button {
  width: 200px;
  margin-left: 40%;
}

label {
  display: block;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 80px;
}

ul {
  font-size: 20px;
}

.form-control {
  width: 60%;
  margin-left: 225px;
  height: 100px;
}

input {
    text-align: center;
    font-size:200%; 
}
